Django

# for production
# whitenoise==6.2.0
# gunicorn==21.2.0

# image processing
Pillow
# for phone numbers processing
django-phonenumber-field
phonenumbers
Babel

# delete if not needed
 # twilio==8.5.0


django-cleanup
django-countries
django-debug-toolbar

django-allauth==0.61.1

# For .ENV File
django-environ==0.11.2
